.top-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}

h1 {
    font-size: 6vw;
}